<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Name="Purge"
           Manufacturer="Purge"
           Version="$(var.ProductVersion)"
           UpgradeCode="a1e6b6b0-6b1a-4b1a-9b1a-6b1a4b1a9b1a"
           Language="1041"
           Codepage="65001"
           Scope="perMachine"
           InstallerVersion="500">

    <!-- 既定のRemoveExistingProducts(afterInstallExecute)だと、新バージョンのショートカットが
         旧バージョンのショートカット削除前に作られてしまい、Windowsのアイコン配置システムが
         「既存アイコンの上書き」ではなく「新規アイコン」と判定してデスクトップ左上の空き位置に
         置き直してしまう。afterInstallInitializeにして旧バージョンを先に削除することで、
         新ショートカットが同じ位置に上書きされるようにする。 -->
    <MajorUpgrade DowngradeErrorMessage="より新しいバージョンのPurgeが既にインストールされています。"
                  Schedule="afterInstallInitialize" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="AppIcon.ico" SourceFile="$(var.PublishDir)\..\..\UI\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <Property Id="INSTALLSTARTMENUSHORTCUT" Value="1" />
    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Purge">
        <Component Id="ApplicationFiles" Guid="b2f7c6b0-6b1a-4b1a-9b1a-6b1a4b1a9b1b">
          <File Id="MainExe" Source="$(var.PublishDir)\Purge.UI.exe" KeyPath="yes" />
        </Component>
        <Component Id="StartMenuShortcutComponent" Guid="c3a8d7c1-7c2b-4c2b-ac2b-7c2b5c2bac2c" Condition="INSTALLSTARTMENUSHORTCUT">
          <RegistryValue Root="HKLM" Key="Software\Purge" Name="StartMenuShortcutInstalled"
                          Type="integer" Value="1" KeyPath="yes" />
          <Shortcut Id="StartMenuShortcut"
                    Directory="ProgramMenuFolder"
                    Name="Purge"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="AppIcon.ico"
                    Target="[#MainExe]"
                    Advertise="no" />
        </Component>
        <Component Id="DesktopShortcutComponent" Guid="d4b9e8d2-8d3c-4d3c-bd3c-8d3c6d3cbd3d" Condition="INSTALLDESKTOPSHORTCUT">
          <RegistryValue Root="HKLM" Key="Software\Purge" Name="DesktopShortcutInstalled"
                          Type="integer" Value="1" KeyPath="yes" />
          <Shortcut Id="DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="Purge"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="AppIcon.ico"
                    Target="[#MainExe]"
                    Advertise="no" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="ProgramMenuFolder" />

    <ComponentGroup Id="AppFilesGroup" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)\**">
        <Exclude Files="$(var.PublishDir)\Purge.UI.exe" />
      </Files>
    </ComponentGroup>

    <Feature Id="MainFeature" Title="Purge" Level="1">
      <ComponentRef Id="ApplicationFiles" />
      <ComponentGroupRef Id="AppFilesGroup" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="!(loc.LicenseRtfPath)" />
    <UIRef Id="WixUI_ErrorProgressText" />

  </Package>
</Wix>
